nav.navbar.navbar-expand-lg.bg-body-tertiary
  .container-fluid
    a.navbar-brand(href='#') The Trainer's Corner
    button.navbar-toggler(type='button' data-bs-toggle='collapse' data-bs-target='#navbarNavAltMarkup' aria-controls='navbarNavAltMarkup' aria-expanded='false' aria-label='Toggle navigation')
      span.navbar-toggler-icon
    #navbarNavAltMarkup.collapse.navbar-collapse
      .navbar-nav
        a.nav-link.active(aria-current='page' href='https://play.thetrainercorner.net') Showdown Server
        a.nav-link.active(aria-current='page' href='https://dex.thetrainercorner.net') Dex Site
        a.nav-link.active(aria-current='page' href='https://replay.thetrainercorner.net') Replay Server
        a.nav-link.active(aria-current='page' href='https://main.thetrainercorner.net/changes/pokemon') Changelog