extends ../layouts/default-layout.pug
block content
  div.text-center
    h1 Welcome to The Trainer's Corner's Web Server!!!
    h2 This is still under construction!!!
    h3 However you can use this to navigate to our other servers like Sd server, Dex Site, or Replay Server