footer
  .card
    .card-title.text-center
      | The Trainer's Corner 2023©
    .card-body.text-center 
      button.btn(type='button' href='') Github
      button.btn(type='button' href='') Discord